[submodule "rethread"]
	path = rethread
	url = git@github.com:bo-on-software/rethread.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = git@github.com:google/googletest.git
